:root {
  --color-1: #0183cf;
  --color-1-translucent: rgba(1, 131, 207, 0.2);
  --color-2: #074485;
  --color-3: #390357;
  --color-4: #170138;
  --color-5: #000;
}

#background {
  background: linear-gradient(0deg, var(--color-1), #170142 90%) !important;
}

#header {
  color: #f7f7f7;
}

.star {
  width: 1px;
  height: 1px;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  animation: starAnimation 2s infinite alternate;
  animation-delay: 3s;
  animation-play-state: paused;
}

#stars {
  width: 100vw;
  height: 80vh;
  position: absolute;
}

#background img {
  z-index: 2;
}

#header {
  z-index: 2;
}

@keyframes starAnimation {
  from {
    width: 1px;
    height: 1px;
    text-shadow: none;
  }
  to {
    width: 2px;
    height: 2px;
    text-shadow: 2px 2px 2px #fff;
  }
}
