:root {
  --color-1: #0183cf;
  --color-1-translucent: rgba(1, 131, 207, 0.2);
  --color-2: #074485;
  --color-3: #390357;
  --color-4: #170138;
  --color-5: #000;
}

#background {
  background: linear-gradient(0deg, var(--color-1), #170142 90%) !important;
}

#header {
  color: #f7f7f7;
}
