.ParallaxMountainsOuter {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background-color: var(--color-1);
  margin-bottom: 100px;
}

.ForegroundMountain {
  will-change: unset !important;
}

.ParallaxMountains {
  aspect-ratio: 16 / 9;
}

.ParallaxMountains .Header {
  text-align: center;
  color: var(--color-4);
}

.ParallaxMountains .HeaderBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
